.mainhead{
  margin-top: 220px;
  margin-bottom: 0;
  color : white !important;
  font-size: 140px;
  font-weight: 700;
}

.smallhead{
  color:white;
  font-size: 23px;
  font-weight: 600;
}

.fourpara{
  font-size: 60px;
  color : white;
  font-weight: 600;
  margin-bottom: 100px;
  margin-top: 100px;
}

.Hero_container{
  margin-left : 280px;
  margin-right: 280px;
}

.Home{
  margin-bottom: 400px;
}

.new{
  height : 260px;
  overflow-y : hidden;
  margin-bottom: 300px;
}

#two{
  margin-top: -150px;
  margin-bottom: 150px;
}

#three{
  margin-top: -150px;
  margin-bottom: 200px;
}

#four{
  margin-top: -150px;
  margin-bottom: 450px;
}


.withopacity{
  opacity : 1;
  transition: opacity 1s, transform 2s;
}

.withoutopacity{
  opacity : 0;
  transition: opacity 1s, transform 2s;
}
